name: accept_test

on:
  push:
    paths:
      - '.github/workflows/accept_test.yml'
      - 'accept/**'
      - 'lib/github.ts'
      - 'lib/core.ts'
  pull_request:
    types: [review_requested]
  workflow_run:
    workflows: ['hello-world_fixture']
    types: [completed]

jobs:
  accept_test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./accept
        with:
          dry-run: true
          gh-token: ${{ secrets.GH_BOT_TOKEN }}

  accept_filter-test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./accept
        with:
          filter: non_existing_folder/**
          dry-run: true
          gh-token: ${{ secrets.GH_BOT_TOKEN }}
