name: db_test

on:
  push:
    paths:
      - '.github/workflows/db_test.yml'
      - 'lib/postgres*'
      - 'lib/docker*'
      - 'lib/github*'
      - 'lib/s3*'
      - 'db/**'

jobs:
  db_test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
        mode: [host, docker]
        version: ['12.3', '13.0', '14.0']
        exclude:
          # Only default version is supported with mode=host
          - mode: host
            version: '12.3'
          - mode: host
            version: '13.0'
          - os: windows-2022
            mode: docker
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./db
        with:
          branch: main
          mode: ${{ matrix.mode }}
          version: ${{ matrix.version }}
          gh-token: ${{ secrets.GH_BOT_TOKEN }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
