name: postgres_test

on:
  push:
    paths:
      - '.github/workflows/postgres_test.yml'
      - 'lib/postgres*'
      - 'lib/docker*'
      - 'postgres/**'

jobs:
  postgres_test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
        mode: [host, docker]
        version: ['12.3', '13.0', '14.0']
        exclude:
          # Only default version is supported with mode=host
          - mode: host
            version: '12.3'
          - mode: host
            version: '13.0'
          - os: windows-2022
            mode: docker
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./postgres
        with:
          mode: ${{ matrix.mode }}
          version: ${{ matrix.version }}
