name: sync-defaults_test

on:
  push:
    paths:
      - '.github/settings.yml'
      - '.github/workflows/sync-defaults_test.yml'
      - 'sync-defaults/**'
      - 'lib/github.ts'
  workflow_dispatch:
  schedule:
    - cron: '30 3 * * *'

jobs:
  sync-defaults_test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./sync-defaults
        with:
          gh-token: ${{ secrets.GH_BOT_TOKEN }}
